<div id="home">
	<div class="top" ng-show="issues">
		<ul class="columns-headers">
			<li class="header">TODO <span ng-bind="(issues.todo|filter:filterByMilestone).length || 0"></span></li>
			<li class="header">WIP <span ng-bind="(issues.wip|filter:filterByMilestone).length || 0"></span></li>
			<li class="header">DONE <span ng-bind="(issues.done|filter:filterByMilestone).length || 0"></span></li>
			<li class="header">TRASH <span ng-bind="(issues.trash|filter:filterByMilestone).length || 0"></span></li>
		</ul>
	</div>

	<script id="issue-template" type="text/ng-template">
		<h2>
			{{ issue.title }}
			<span ng-show="issue.loading">...</span>
		</h2>
		<p class="desc" ng-show="issue.description">
			{{ issue.description }}
		</p>
		<p>
			<span ng-show="issue.assignee">
				<i class="icon-lock"></i>
				{{ issue.assignee.name || issue.assignee.username }}
			</span>
			<span class="pull-right">
				{{ issue.created_at | formatDate | date:'HH:mm dd.MM.yyyy' }}
				<a href="#"><i class="icon-link"></i></a>
			</span>
		</p>
	</script>

	<div class="issues">
		<div sortable class="column" type="todo">
			<div class="issue" ng-repeat="issue in issues.todo|filter:filterByMilestone" ng-include src="'issue-template'">
			</div>
		</div>
		<div sortable class="column" items="" type="wip">
			<div class="issue" ng-repeat="issue in issues.wip|filter:filterByMilestone" ng-include src="'issue-template'">
			</div>
		</div>
		<div sortable class="column" items="" type="done">
			<div class="issue" ng-repeat="issue in issues.done|filter:filterByMilestone" ng-include src="'issue-template'">
			</div>
		</div>
		<div sortable class="column" items="" type="done">
			<div class="issue" ng-repeat="issue in issues.trash|filter:filterByMilestone" ng-include src="'issue-template'">
			</div>
		</div>
	</div>

	<div class="footer">
		<ul>
			<li ng-show="projects">
				<select ui-select2 ng-model="current.project" style="width: 200px;">
					<option ng-repeat="project in projects" value="{{ project.id }}">{{ project.name }}</option>
				</select>
			</li>
			<li ng-show="milestones">
				<select ui-select2 ng-model="current.milestone" style="width: 200px;">
					<option value="">all</option>
					<option ng-repeat="milestone in milestones" value="{{ milestone.id }}">{{ milestone.title }}</option>
				</select>
			</li>
		</ul>
		<ul class="toolbar-right" ng-show="user">
			<li>Hello <strong>{{ user.name || user.username }}</strong>!</li>
		</ul>
	</div>

</div>
